{% load static %}
{% block content %}
<div class="space-y-4 text-sm font-medium py-4">
  <button class="w-full flex items-center justify-center gap-x-3 py-2.5 border rounded-lg hover:bg-gray-50 duration-150 active:bg-gray-100"
  >
    <img src="{% static 'google-icon.svg' %}"
         alt ="google" 
         class="w-5 h-5"
     /> 
    Continue with Google
  </button>

  <button
    class="w-full flex items-center justify-center gap-x-3 py-2.5 border rounded-lg hover:bg-gray-50 duration-150 active:bg-gray-100"
  >
    <img
      src="{% static 'twitter-icon.svg' %}"
      alt="Twitter"
      class="w-5 h-5"
    />
    Continue with Twitter
  </button>

  <button
    class="w-full flex items-center justify-center gap-x-3 py-2.5 border rounded-lg hover:bg-gray-50 duration-150 active:bg-gray-100"
  >
    <img
      src="{% static 'github-icon.svg' %}"
      alt="Github"
      class="w-5 h-5"
    />
    Continue with Github
  </button>
</div>
{% endblock content %}
